name: Reload Streamlit App
on:
  #schedule:
  #  - cron: '0 */4 * * *'  # Every 8 hours
  workflow_dispatch:  # Allows manual triggering

jobs:
  reload-streamlit-app:
    runs-on: ubuntu-latest
    permissions:
       contents: write
       packages: write
       id-token: write
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0  # Needed for git operations
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements_reload.txt

    - name: Force Streamlit app rebuild
      run: |
        python open_streamlit_app.py
